# meli-challenge-assembly
.project
.settings
.metadata

# meli-challenge-domain
meli-challenge-domain/.apt_generated
meli-challenge-domain/.apt_generated_tests
meli-challenge-domain/.settings
meli-challenge-domain/.classpath
meli-challenge-domain/.factorypath
meli-challenge-domain/.project
meli-challenge-domain/target

# pay-chile-web-backend
meli-challenge-web-backend/.apt_generated
meli-challenge-web-backend/.apt_generated_tests
meli-challenge-web-backend/.settings
meli-challenge-web-backend/.classpath
meli-challenge-web-backend/.factorypath
meli-challenge-web-backend/.project
meli-challenge-web-backend/target
meli-challenge-web-backend/.mvn
meli-challenge-web-backend/mvnw
meli-challenge-web-backend/mvnw.cmd
